In [28]:
%reset

import pandas as pd
import numpy as np
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:

# Example
#clientPlay = Socrata("sandbox.demo.socrata.com",
#                     "FakeAppToken",
#                     username="fakeuser@somedomain.com",
#                     password="ndKS92mS01msjJKs")

# client = Socrata("data.sccgov.org", None)
# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.sccgov.org,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
data_id = "k7e9-hszp"

# results = client.get(data_id, limit=5)
# results = client.get(data_id)

# Convert to pandas DataFrame
# df = pd.DataFrame.from_records(results)

# df.to_csv('~/Desktop/file_name.csv')

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [29]:
# generating some test data
timestamp = [1440540000, 1450540000]
df1 = pd.DataFrame(
    {'timestamp': timestamp, 'a': ['val_a', 'val2_a'], 'b': ['val_b', 'val2_b'], 'c': ['val_c', 'val2_c']})

# building a different index
timestamp = timestamp * np.random.randn(abs(1))
df2 = pd.DataFrame(
    {'timestamp': timestamp, 'd': ['val_d', 'val2_d'], 'e': ['val_e', 'val2_e'], 'f': ['val_f', 'val2_f'],
     'g': ['val_g', 'val2_g']}, index=index)

# keeping a value in common with the first index
timestamp = [1440540000, 1450560000]
df3 = pd.DataFrame({'timestamp': timestamp, 'h': ['val_h', 'val2_h'], 'i': ['val_i', 'val2_i']}, index=index)

# Setting the timestamp as the index
df1.set_index('timestamp', inplace=True)
df2.set_index('timestamp', inplace=True)
df3.set_index('timestamp', inplace=True)


# You can convert timestamps to dates but it's not mandatory I think
df1.index = pd.to_datetime(df1.index, unit='s')
df2.index = pd.to_datetime(df2.index, unit='s')
df3.index = pd.to_datetime(df3.index, unit='s')

# Just perform a join and that's it
result = df1.join(df2, how='outer').join(df3, how='outer')
result

,a,b,c,d,e,f,g,h,i
timestamp,,,,,,,,,
1894-12-11 07:43:33.312519168,NaN,NaN,NaN,val2_d,val2_e,val2_f,val2_g,NaN,NaN
1895-06-18 07:28:23.225844224,NaN,NaN,NaN,val_d,val_e,val_f,val_g,NaN,NaN
2015-08-25 22:00:00.000000000,val_a,val_b,val_c,NaN,NaN,NaN,NaN,val_h,val_i
2015-12-19 15:46:40.000000000,val2_a,val2_b,val2_c,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-19 21:20:00.000000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,val2_h,val2_i